.login {
  overflow: hidden;
  margin: 10vh 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.login__paper {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  height: auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login__paper > h4 {
  margin-bottom: 10px;
}

.login__paper > h5 {
  margin-bottom: 10px;
}

.login__form {
  margin-top: 10px;

}

.login__form > Button {
  margin-top: 20px;
  margin-bottom: 20px;
}
