.longin {
  overflow: hidden;
  position: relative;
  margin: -10px;
}

.login__paper {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  height: auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login__paper > h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .main__signup__form {

} */

.login__form > Button {
  margin-top: 20px;
  margin-bottom: 20px;
}
