.signup {
  overflow: hidden;
  margin: 10vh 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.signup__paper {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  width: 400px;
}

.signup__paper{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signup__form > Typography {
  
}

.signup__form {
  margin-top: 10px;
}

.signup__form > Button {
  margin-top: 20px;
}
