.inputBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.inputBox__paper {
  padding: 10px 15px;
  width: 500px;
}

.inputBox__form {
  display: flex;
  flex-direction: column;
}

.inputBox__form__top {
  display: flex;
  align-items: center;
}

.inputBox__form__center {
  display: flex;
  align-items: center;
  /* margin-top: 8px; */
}


.inputBox__form__bottom {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0px;
}

.inputBox__form__bottom > h6 {
  margin-right: 20px;
  text-align: center;
}

.inputBox__form__bottom > Button {
  background-color: green;
}
